/* configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 138, 138);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: aliceblue;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.863);
    padding: 10px;
}