/* todas as demais midias */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../img/back-print.jpg); /*desnecessário*/
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

    main {
        border: 2px solid black;
        width: 90%;
    }

    main::after {
        content: 'Essa impressão foi feita pelo site media query4!';
        width: 80%;
        font-size: 15px;
        border: 2px solid rgba(0, 0, 0, 0.863);
        display: block;
        text-align: center;
        align-items: center;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 798px) and (max-width: 992px){
    body {
        background-image: url(../img/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background-image: url(../img/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px){
    body {
        background-image: url(../img/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}